<!-- ========== Left Sidebar Start ========== -->
<div class='leftside-menu'>

  <!-- LOGO -->
  <a href='index.html' class='logo text-center logo-light'>
    <span class='logo-lg'>
      <img src='/images/logo.png' alt='' height='60' />
    </span>
    <span class='logo-sm'>
      <img src='/images/logo.png' alt='' height='60' />
    </span>
  </a>

  <!-- LOGO -->
  <a href='index.html' class='logo text-center logo-dark'>
    <span class='logo-lg'>
      <img src='/images/logo-dark.png' alt='' height='16' />
    </span>
    <span class='logo-sm'>
      <img src='/images/logo_sm_dark.png' alt='' height='16' />
    </span>
  </a>

  <div class='h-100' id='leftside-menu-container' data-simplebar>

    <!----->
      <ul class='side-nav'>

        <li class='side-nav-title side-nav-item'>Navigation</li>

        <li class='side-nav-item'>
          <a
            href='dashboard'
            aria-expanded='false'
            aria-controls='sidebarDashboards'
            class='side-nav-link active'
          >
            <i class='uil-signal-alt-3'></i>
            <span> Dashboard </span>
          </a>
        </li>

        <li class='side-nav-item'>
          <a
            href='orders'
            aria-expanded='false'
            aria-controls='sidebarDashboards'
            class='side-nav-link'
          >
            <i class='uil-shopping-cart-alt'></i>
            <span> Orders </span>
          </a>
        </li>

        <li class='side-nav-item'>
          <a
            href='pending'
            aria-expanded='false'
            aria-controls='sidebarDashboards'
            class='side-nav-link'
          >
            <i class='uil-history-alt'></i>
            <span> Pending </span>
          </a>
        </li>

        <li class='side-nav-item'>
          <a
            href='archive'
            aria-expanded='false'
            aria-controls='sidebarDashboards'
            class='side-nav-link'
          >
            <i class='uil-books'></i>
            <span> Archive </span>
          </a>
        </li>

        <li class='side-nav-item'>
          <a
            href='declined'
            aria-expanded='false'
            aria-controls='sidebarDashboards'
            class='side-nav-link'
          >
            <i class='uil-file-times-alt'></i>
            <span> Declined </span>
          </a>
        </li>

      </ul>
      <!-- End Sidebar -->

    <div class='clearfix'></div>

  </div>
  <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->