<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}} - TurnApp</title>
    <!-- App css -->
    <link href='/stylesheets/icons.min.css' rel='stylesheet' type='text/css' />
    <link
      href='/stylesheets/app.min.css'
      rel='stylesheet'
      type='text/css'
      id='light-style'
    />
  </head>
  <body
    class='loading authentication-bg'
    data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'
  >
    {{{body}}}
    <!-- bundle -->
    <script src='/javascripts/vendor.min.js'></script>
    <script src='/javascripts/app.min.js'></script>
    <script src='/javascripts/dropzone.min.js'></script>
    <script src='/javascripts/component.fileupload.js'></script>
  </body>
</html>